body {
    background-color: #121212;
    color: white;
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo preencher o fundo corretamente */
    z-index: -1; /* Coloca o vídeo no fundo */
  }

  .glitch-container {
    position: relative;
    z-index: 1;
  }

  .glitch {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .glitch::after {
    content: attr(data-glitch);
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5), 0 0 10px rgba(255, 0, 0, 0.7),
      0 0 20px rgba(255, 0, 0, 1);
    mix-blend-mode: difference;
    animation: glitch-fade 6s infinite;
  }

  @keyframes glitch-fade {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0.2;
      transform: translateY(10px);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .gradual-show {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .content {
    display: none;
    text-align: center;
    margin-top: 20px;
  }
  #d-lg {
    background-color: rgb(18, 18, 18);
  }